/* .resume {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-style: sans-serif;
}

.top {
    background-color: #0D0D0D;
    height: 147px;
    margin-left: 10px;
}

.header {
    font-family: sans-serif;
    padding-left: 78px;
    position: relative;
    top: 14px;
    right: 67px;
}

.header h1 {
    font-weight: 550;
    font-size: 42px;
    color: white;
    font-family: 'Times New Roman';
    text-decoration: underline;
}

.contact {
    position: relative;
    left: 10px;
    bottom: 6px;
}

.contact span {
    color: white;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.down {
    padding-left: 10px;
    display: flex;
    flex: 1;
}

.skill {
    color: rgb(87, 83, 83);
}

.experience,
.education {
    margin-bottom: 30px;
    color: rgb(87, 83, 83);
}

.summary h2,
.language h2,
.skill h2,
.experience h2,
.education h2 {
    font-size: 17px;
    font-weight: 700;
    color: black;
    margin: 22px auto 12px;
    text-decoration: underline;
}


.language p {
    margin: 0 0 0 0;
    color: rgb(46, 42, 42);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.summary p,
.skill p,
.experience p,
.education p {
    color: rgb(46, 42, 42);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.education ul li {
    color: rgb(46, 42, 42);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Techskill,
.Softskill {
    width: 60%;
}

.Techskill h3,
.Softskill h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.Softskill ul,
.Techskill ul {
    margin: 0px auto 0px 0px;
}

.language ul {
    list-style-type: disc;
    margin: 0px auto 0px 0px;
    color: rgb(46, 42, 42);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.experience h3,
.education h3 {
    font-size: 20px;
    margin: 10px 0;
}

.date {
    font-style: italic;
    margin-bottom: 10px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

.sides {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
}

.leftside {
    height: 100%;
    position: relative;
    background-color: rgb(187, 187, 187);
    justify-content: left;
    padding-left: 10px;
    background-color: rgb(187, 187, 187);
    flex: 1;
}

.rightside {
    width: 60%;
    height: 100%;
    position: relative;
    justify-content: left;
    padding-left: 10px;
    border-left: 2px solid black;
    flex: 2;
} */