.wrapper{
    max-width: 50%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 16px;
}

@media only screen and (max-width: 768px) {
    .wrapper{
        max-width: 100%;
    }
}

.resume-title{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: rgb(42, 31, 110);
    margin: 6px 0;
}

.block-title{
    font-size: 20px;
    color: rgb(42, 31, 110);
    margin: 4px 0;
}

.submit-btn{
    outline: none;
    padding: 8px 12px;
    background-color: rgb(42, 31, 110);
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin-top: 20px;
}

.ReactModal__Overlay{
    background-color: rgba(000, 000, 000, 0.35) !important;
}

.mandatory{
    color: red;
    margin-left: 4px;
}