.resume {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #b9c4d7;
    font-style: sans-serif;
    display: flex;
    flex: 1;
  }
  
  .header {
    font-family: sans-serif;
    padding-left: 70px;
    position: relative;
    top: 14px;
    right: 67px;
  }
  
  .header h1 {
    font-weight: 550;
    font-size: 25px;
    color: black;
    font-family: 'Times New Roman';
    text-decoration: underline;
  }
  
  .contact p {
    margin: auto;
    color:black;
    position: relative;
  }
  
  .contact {
    position: relative;
    left: 2px;
    bottom: -9px;
  }
  
  .contact h2 {
    font-size: 17px;
    font-weight: 700;
    color: black;
  }
  
  .contact span {
    color:black;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .skill {
   
  }
  
  .skills-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0px;
  }
  
  .experience,
  .education {
    margin-bottom: 30px;
    color: black;
  }
  
  .summary h2,
  .experience h2,
  .skill h2,
  .education h2,
  .language h2 {
    font-size: 17px;
    font-weight: 700;
    color: black;
    margin: 22px auto 12px;
    text-decoration: underline;
  }
  .language p {
    margin: 0 0 0 0;
    color: black;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .summary p,
  .experience p,
  .education p,
  .skill p{
    color: rgb(46, 42, 42);
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .Techskill,
  .Softskill {
    width: 60%;
  }
  
  .Techskill h3,
  .Softskill h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .Softskill ul,
  .Techskill ul {
    margin: 10px auto 0px 0px;
  }
  
  .language ul {
    list-style-type: disc;
    margin: 0px auto 0px 0px;
    color: black;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .experience h3,
  .education h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .date {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  .sides {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
  }
  
  .leftside {
    width: auto;
    height: 100%;
    position: relative;
    background-color: whitesmoke;
    justify-content: left;
    padding-left: 10px;
    flex: 1;
  }
  
  .rightside {
    height: 100%;
    position: relative;
    justify-content: left;
    border-left: 2px solid black;
    padding-left: 10px;
    flex: 2;
  }