/* .body{
    background-color: lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.resume{
    position:relative;
    width: 100%;
    min-height: 1000px;
    max-width: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

 .left_side{
    position:relative;
    background: #003147;
    padding: 40px;
}

.right_side{
    position:relative;
    background:#fff;
    padding: 40px;
}

.profileText{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color:#fff;
}


 */







/* .resume {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #b9c4d7;
    font-style: sans-serif;
}

.header {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 0;
    font-family:sans-serif;
}

.header h1 {
    font-weight: 550;
    font-size:42px;
    color: black;
    font-family:'Times New Roman';
    margin: 0;
}

.header p { 
    font-size: 20px;
    font-weight: 545;
    color:rgb(60, 60, 216);
    margin: 5px 0;
}

.skill{
    color:rgb(87, 83, 83);
}

.skills-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0px;
}

.experience,
.education {
    margin-bottom: 30px;
    color:rgb(87, 83, 83);
}

.skill h2,
.experience h2,
.education h2 {
    font-size: 17px;
    font-weight: 700;
    color:rgb(60, 60, 216);
    margin: 22px auto 12px ;
}

.skill p,
.experience p,
.education p {
    color:rgb(46, 42, 42);
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Techskill,
.Softskill{
    width: 50%;
}

.Techskill h3,
.Softskill h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.Softskill ul,
.Techskill ul{
    margin: 10px auto 0px 0px;
}

.experience h3,
.education h3 { 
    font-size: 20px;
    margin: 10px 0;
}

.date {
    font-style: italic;
    margin-bottom: 10px;
}

ul {
    list-style: disc;
    margin-left: 20px;   
}

.contact p{
    color: rgb(123, 119, 119);
    font-weight: 450;
    margin:auto;
}

.contact p:last-child {
    margin-bottom: 0;
} */
